aiofiles==25.1.0
uvicorn==0.54.0
python-multipart==0.0.32
numpy==2.5.3
fastapi==0.141.1
pydantic==2.13.5
starlette==1.7.0
anonymeter==1.0.0
matplotlib==3.11.2
seaborn==0.13.2
pandas~=3.0.6
plotly==7.1.0
scipy==1.18.1
syndat==0.13.5
python-dotenv
